/* Some part of the theme sets
  .video-js.vjs-peertube-skin .vjs-control-bar .vjs-menu-button-popup .vjs-menu .vjs-menu-content
  to have width: 50px */
#peertube-plugin-chapters-menu {
		width: auto;
}

/* Override `.vjs-menu li { text-transform: lowercase; }`, from video-js.css */
#peertube-plugin-chapters-menu li {
		text-transform: none;
}
